@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://use.fontawesome.com/releases/v5.13.0/css/all.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  margin: 0 auto;
  font-family: Verdana, sans-serif;
  background-color: #eafff2;
}

.mySlides {
  display: none;
}

/* Navbar  */
.navbar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #333;
  color: #fff;
  height: 4em;
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  font-weight: 300;
}

.navbar ul li {
  margin: 0;
  padding: 0;
}

.navbar li a {
  text-decoration: none;
  display: inline-block;
  align-items: center;
  padding: 14px 20px;
  color: white;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.active {
  background-color: #666;
  color: white;
}

/* Free shipping bar  */
.free-shipping-bar p {
  text-align: center;
  background-color: black;
  color: #fff;
  height: 16px;
  padding: 15px;
  text-align: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* Section All */
section::after {
  content: "";
  display: block;
  clear: both;
}

/* Section Main */
section.main {
  background-color: #b2c2b9;
  color: white;
  margin-top: 45px;
}
section.main aside {
  width: 33%;
  float: left;
  text-align: center;
  padding: 20px;
}
section.main .content {
  margin: 15px;
  background: no-repeat center top;
  background-size: 75px 75px;
  padding-top: 85px;
}
section.main aside h3 a {
  color: white;
  text-decoration: none;
}
section.main aside h3 a:hover {
  text-decoration: underline;
}

section.main aside p {
  padding-top: 20px;
  background: none;
  color: white;
}

section.main aside .content.audio {
  background-image: url("../images/2wayaudio.png");
}
section.main aside .content.content.background-audio {
  background-image: url("../images/audio1.png");
}
section.main aside .content.alexa-enabled {
  background-image: url("../images/alexa.png");
}

/* Introducint Buddy */
.feature {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  padding-top: 35px;
}

/* Video  */
iframe {
  width: 90vw;
  height: 500px;
}
.iframe {
  display: flex;
  max-width: 1200px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

/* Grid - what we offer */
.feature-text {
  margin: 25px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.main-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(auto-fill, minmax(335px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1rem;
  margin: 0 auto;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
}

.card {
  border-radius: 4px;
  background-color: #ffff;
}

.card img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  width: 100%;
  height: 50vh;
  object-fit: cover;
  display: block;
}

.content h6 {
  text-align: center;
  font-size: 1em;
  padding: 10px auto;
  margin: 10px auto;
}

.content p {
  font-size: 0.85em;
  padding: 10px;
  line-height: 1.5;
  background-color: #fafafa;
  height: 8em;
}

.card-info {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  background: #eeeeee;
  color: #555555;
  font-size: 0.9em;
}

.card-info i {
  font-size: 1.4em;
  padding-left: 5px;
}

/* Like button */
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: #65676b;
}

button:hover {
  color: salmon;
}

button.liked {
  color: #0571ed;
}
button.liked i {
  animation: anim 0.5s ease-in-out;
  -webkit-animation: anim 0.5s ease-in-out;
}

@keyframes anim {
  100% {
    transform: rotate(-15deg) scale(1.3);
    -webkit-transform: rotate(-15deg) scale(1.3);
    -moz-transform: rotate(-15deg) scale(1.3);
    -ms-transform: rotate(-15deg) scale(1.3);
    -o-transform: rotate(-15deg) scale(1.3);
    filter: blur(0.5px);
    -webkit-filter: blur(0.5px);
  }
}

/* Learn more button */
.card-link {
  text-decoration: none;
  color: white;
  background-color: salmon;
  border-radius: 5px;
  padding: 4px 5px;
}

.card a:hover {
  background-color: rgb(72, 141, 126);
  cursor: pointer;
}

/* Download the App -- Appstore badges */
.download-the-app {
  text-align: center;
  font-size: 0.875em;
  font-weight: bold;
  height: 3rem;
  padding-top: 22px;
  padding-bottom: 12px;
  margin-top: 15px;
}

.flex {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.flex ul {
  list-style: none;
  display: inline-block;
}

.flex ul li {
  float: left;
  margin: 0 15px;
}

.flex li img {
  width: 130px;
  height: 44px;
}

/* Cookie Consent */
.wrapper {
  position: fixed;
  bottom: 56px;
  left: 30px;
  background: #fff;
  max-width: 365px;
  height: fit-content;
  border-radius: 15px;
  text-align: center;
  padding: 25px 25px 30px 25px;
  font-family: "Poppins";
  z-index: 10;
}

.wrapper.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.3s ease;
}
::selection {
  color: #fff;
  background: salmon;
}

.wrapper img {
  max-width: 90px;
}
.wrapper .cookiet-content {
  margin-top: 10px;
}
.cookie-content header {
  font-size: 25px;
  font-weight: 600;
}

.cookie-content p {
  color: #858585;
  margin: 5px 0 20px 0;
}

.cookie-content .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons .item {
  margin: 0 10px;
}

.buttons button {
  padding: 5px 15px;
  background: salmon;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.buttons a {
  color: salmon;
}

/* Accessibility button */
.fas {
  padding: 5px;
  text-decoration: none;
  font-size: 45px;
  color: #146ff8;
  display: flex;
  justify-content: flex-end;
}

.fas:hover {
  opacity: 0.9;
  color: black;
}

/* Footer section  */
/* Footer legal  */
.footer-legal {
  font-size: 0.9rem;
}

/* Footer socila-icons */
.fab {
  padding: 5px;
  font-size: 0.95em;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  background-color: white;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  color: #777;
}

.fab:hover {
  opacity: 0.7;
  background-color: salmon;
}

footer {
  background-color: grey;
  color: #fff;
  padding: 0.625rem;
  height: 3.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

footer ul li a {
  list-style: none;
  color: white;
  font-size: 1em;
}

footer ul li a:hover {
  color: black;
}

footer ul li:not(:last-child) {
  margin-right: 1rem;
}

/* Media querries */
/* 1024px iPad Pro 12.9" */
@media screen and (max-width: 1024px) {
  iframe {
    width: 90%;
    height: 25em;
  }

  .iframe {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

/* 834px iPad Pro 11" 10.5" iPad Air 10.5" */
@media screen and (max-width: 834px) {
  iframe {
    height: 18.75em;
  }

  footer {
    font-size: 0.9em;
  }
}

/* 768px iPad Pro, iPad Air 9.7" iPad mini 7.9" */
@media screen and (max-width: 768px) {
  .card img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .navbar li,
  p {
    font-size: 0.9em;
  }

  section.main aside h3 {
    font-size: 1em;
  }

  .card h6 {
    font-size: 0.9em;
  }

  section.main aside {
    float: none;
    display: grid;
    width: 100%;
    grid-template-columns: 1;
    grid-template-rows: 3;
    justify-content: center;
    align-items: center;
    height: 12.5em;
    padding: 3px;
    background-size: 100px 100px;
  }

  .footer-legal {
    font-size: 0.8em;
  }

  footer {
    background: none;
    color: black;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  footer ul li a {
    color: black;
  }

  footer a:hover {
    background-color: gray;
  }
}

/* 414px iPhone 6 plus, 7 plus, 8 plus, xs, xr, 11, 11 Pro max */
@media screen and (max-width: 414px) {
  .navbar {
    font-size: 0.8em;
  }

  footer,
  h6,
  p {
    font-size: 0.7em;
  }

  section.main aside h3 {
    font-size: 1em;
  }
}
